<section class="header">
    <div class="content-wrapper-header">
        <a href="" ><img src="../../assets/logo.png" style="width:120px" class="logo"></a>
        <h1>CÔNG TY TNHH TM-DV & VẬN TẢI PHÚ THỌ</h1>
        <h2>“Niềm Tin Cho Mọi Công Trình”</h2>
    </div>

    <div class="content-wrapper-nav-bar">
        <!-- <img src="../../assets/logo.png"> -->
        <a href='https://vatlieuxaydungphuthoquangnam.com'>Trang Chu</a>
        <a href='#gioithieu'>Giới Thiệu</a>
        <a href='#sanpham'>Sản Phẩm</a>
        <a href='tuyendung'>Tuyển Dụng</a>
        <a href='#footer'>Liên Hệ</a>
        <a href='baogia'>Báo Giá</a>
    </div>
    
</section>