.content-wrapper {
    width: 30%;
    margin: 2% auto;
    position: relative;
    padding: 5px;
    background: rgb(211, 226, 253);
}

.space {
    margin: 1.5%;
    margin-left: 5%;
    margin-top: 4%
}

.space label {
    /* left: 20px; */
    position: relative;
}

.fieldRequired{
    /* left: 200px; */
    position: relative;
    width: 90%;
}

button {
    background: black;
    color: white;
    border:black;
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    font-weight: 600;
    
}

button:hover{
    background: rgb(139, 139, 139);
    border:rgb(46, 40, 39);
}

.space-button {
    text-align: center;
}

.space-chonsanpham {
    margin: 1.5%;
    margin-top: 4%;
    left: 20px;
    position: relative;
}

.space-chonsanpham label {
    font-weight: 500;

}

.space-list {
    margin: 5%
}

@media (max-width: 999px){
    .content-wrapper {
        width: 90%
    }
}


/* @media (max-width: 500px){
    .space .fieldRequired{
        width: 80%;
    }
} */