<section class="home"> 
    <div class="content-wrap-galery" id="gioithieu">
        <app-gallery></app-gallery>
    </div>
    <div class="title">
        <h1>
            Đoàn kết – Sáng tạo – Uy tín – Trách nhiệm
        </h1>
    </div>
    <div class="content-wrap-intro" id="gioithieu">
        <div class="intro">
            <h3>
                "1. Công Ty TNHH TM-DV & Vận Tải Phú Thọ
                chân thành cảm ơn Quý khách hàng đã 
                và đang quan tâm, lựa chọn sản phẩm vật 
                liệu xây dựng của đơn vị chúng tôi."
            </h3>
        </div>
        <mat-divider></mat-divider>
        <div class="intro">
            <h3>
                "2. Mục tiêu”chất lượng” được đặt lên hàng đầu,
                phong cách chuyên nghiệp cùng với sự phục
                vụ tận tâm hy vọng sẽ làm hài lòng quý khách hàng."
            </h3>
        </div>
        <mat-divider></mat-divider>
        <div class="intro">
            <h3>
                "3. Với đội ngủ kỹ thuật trẻ trung giàu tâm huyết, 
                cùng với hệ thống xe vận tải phong phú và hiện đại,
                Công Ty TNHH TM-DV & Vận Tải Phú Thọ đã khẳng định 
                vị thế của mình trên thị trường."
            </h3>
        </div>
        <mat-divider></mat-divider>
        <div class="intro">
            <h3>
                "4. Tạo dựng thương hiệu Công Ty TNHH TM-DV & Vận Tải Phú Thọ 
                trở thành biểu tượng cho sự phát triển bền vững dài lâu dựa
                trên nền tảng của giá trị sản phẩm, công trình và dịch vụ 
                mà đơn vị chúng tôi cam kết cung cấp đến khách hàng, đối tác."
            </h3>
        </div>
    </div>

    <div class="title">
        <h1>
            SẢN PHẨM
        </h1>
    </div>
    
    <!-- divider -->
    <div class="content-wrap-sanpham" id="sanpham">
        <mat-tab-group animationDuration="2000ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>TON DONG A</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/tondonga.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên sản xuất 
                        tôn theo yêu cầu (với thương hiệu tôn Đông Á hàng đầu 
                        nước Việt Nam) đáp ứng nhu cầu xây dựng cho mọi công trình dân dụng.
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>XI MANG</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/ximang.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên phân phối 
                        xi măng các loại bao gồm Xi Măng Sông Gianh Quảng Bình 40 và Xi Măng Super 
                        xi măng SCG Thái Lan Nhập Khẩu.
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>GACH 6 LO</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/gach.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên cung cap Gạch 6 Lỗ
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>SAT THEP</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/sat.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên cung cấp 
                        sắt thép các loại.
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>DA & CAT</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/da.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên cung cấp 
                        đá và cát xây dựng bao gồm Đá 1×2 , Đá 4×6, Cát Xây Tô và Cát Đúc.
                    </h3>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>


    <div class="title">
        <h1>
            TIN TỨC GẦN ĐÂY
        </h1>
    </div>
        
    <!-- divider -->
    <div class="content-wrap-sanpham" id="sanpham">
        <mat-tab-group animationDuration="2000ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>TON DONG A</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/tondonga.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên sản xuất 
                        tôn theo yêu cầu (với thương hiệu tôn Đông Á hàng đầu 
                        nước Việt Nam) đáp ứng nhu cầu xây dựng cho mọi công trình dân dụng.
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>XI MANG</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/ximang.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên phân phối 
                        xi măng các loại bao gồm Xi Măng Sông Gianh Quảng Bình 40 và Xi Măng Super 
                        xi măng SCG Thái Lan Nhập Khẩu.
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>GACH 6 LO</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/gach.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên cung cap Gạch 6 Lỗ
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>SAT THEP</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/sat.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên cung cấp 
                        sắt thép các loại.
                    </h3>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>DA & CAT</h2>
                </ng-template>
                <div style="margin: 20px;">
                    <img src="../../assets/da.jpg" style="width:50%; float: left; margin-right: 5px">
                    <h3 style="font-size: 20px;">Công Ty TNHH TM-DV & Vận Tải Phú Thọ chuyên cung cấp 
                        đá và cát xây dựng bao gồm Đá 1×2 , Đá 4×6, Cát Xây Tô và Cát Đúc.
                    </h3>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>


